.header {
  font-family: "Raleway", sans-serif;
  max-width: 1920px;
  height: 900px;
  background-image: url(/images/background.png);
  max-width: auto;
  margin: auto;
}



ul {
  gap: 30px;
}

.text {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  font-size: 50px;
  color: white;
  font-family: "Raleway", sans-serif;
}

.line {
  width: 120px;
  height: 0px;
  border: 0.5px solid;
  color: white;
  margin-top: 15px;
  margin-left: 900px;
}

.text2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
  color: white;
}

.text2 img {
  margin-left: 5px;
}

.navmenu {
  display: flex;
  justify-content: center;
}

.categories {
  margin-top: 100px;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

.container__grid {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  margin-top: 50px;
}

.switch__btn {
  width: 40px;
  height: 40px;
  background-color: #E0BEA2;
  position: absolute;
  top: 1300px;
  right: 370px;
} 


.switch__btn img {
  width: 25px;
  height: 25px;
  margin-top: 7px;
  margin-left: 9px;
}


.block1 {
  position: absolute;
  top: 1515px;
  width: 274px;
  height: 40px;
  background-color: #E0BEA2BF;
  
}

.grid__text1 {
  color: white;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin-left: 110px;
  margin-top: 5px;
}


.grid__text2 {
  color: white;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin-left: 110px;
  margin-top: 5px;
}

.grid__text3 {
  color: white;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin-left: 110px;
  margin-top: 5px;
}

.grid__text4 {
  color: white;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin-left: 110px;
  margin-top: 5px;
}
